azure/templates/adf_pipeline_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name"
        },
        "sourceDBConnectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'sourceDBLinkedService'"
        },
        "sinkDWConnectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'sinkDWLinkedService'"
        },
        "blobConnectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'blobLinkedService'"
        },
        "sourceDBUserName": {
            "type": "string",
            "defaultValue": "adminuser"
        },
        "location": {
            "type": "string",
            "defaultValue": "East US"
        },
        "apiVersion": {
            "type": "string",
            "defaultValue": "2017-09-01-preview"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
        "leftBracket": "["
    },

    "resources": [
        {
            "apiVersion": "[parameters('apiVersion')]",
            "name": "[parameters('factoryName')]",
            "location": "[parameters('location')]",
            "type": "Microsoft.DataFactory/factories",
            "identity": {
                "type": "SystemAssigned"
            },
        
            "resources": 
            [
                {
                    "name": "[concat(parameters('factoryName'), '/ETLCutoff')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "TableName",
                                "type": "String"
                            },
                            {
                                "name": "SystemCutoffTime",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[ETLCutoff]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/Lineage')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "LineageKey",
                                "type": "Int32"
                            },
                            {
                                "name": "TableName",
                                "type": "String"
                            },
                            {
                                "name": "DataLoadStartTime",
                                "type": "DateTime"
                            },
                            {
                                "name": "DataLoadEndTime",
                                "type": "DateTime"
                            },
                            {
                                "name": "SystemCutoffTime",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[Lineage]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/SalesPipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "GetLastETLCutoff-Sales",
                                "type": "Lookup",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT SystemCutOffTime \nFROM Integration.ETLCutoff\nWhere TableName ='[Fact].[Sale]'"
                                    },
                                    "dataset": {
                                        "referenceName": "ETLCutoff",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "CreateLineage-SalesFacts",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        
                                        "activity": "GetLastETLCutoff-Sales",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[CreateLineage]')]",
                                    "storedProcedureParameters": {
                                        "DataLoadStartTime": {
                                            "value": {
                                                "value": "@pipeline().parameters.CutoffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        },
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetLastETLCutoff-Sales').output.firstRow.SystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        },
                                        "TableName": {
                                            "value": "[concat(variables('leftBracket'), 'Fact].[Sale]')]",
                                            "type": "String"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "GetCurrentETLCutOff-Sales",
                                "type": "Lookup",
                                "dependsOn": [
                                    {
                                        "activity": "CreateLineage-SalesFacts",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT MAX(DataLoadStartTime) as LatestSystemCutOffTime From Integration.Lineage where TableName ='[Fact].[Sale]' and DataLoadEndTime is null"
                                    },
                                    "dataset": {
                                        "referenceName": "Lineage",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "Copy-Sales",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutOff-Sales",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetSaleUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-Sales').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-Sales').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "SalesChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "SalesChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MigrateStagedSaleData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "Copy-Sales",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateStagedSaleData]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetCurrentETLCutOff-Sales').output.firstRow. LatestSystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            }
                        ],
                        "parameters": {
                            "CutoffTime": {
                                "type": "String"
                            }
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/datasets/ETLCutoff')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]",
                        "[concat(variables('factoryId'), '/datasets/Lineage')]",
                        "[concat(variables('factoryId'), '/datasets/SalesChanges')]",
                        "[concat(variables('factoryId'), '/datasets/SalesChangesDW')]",
                        "[concat(variables('factoryId'), '/linkedServices/blobLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CityPipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "GetLastETLCutoff-City",
                                "type": "Lookup",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT SystemCutOffTime \nFROM Integration.ETLCutoff\nWhere TableName ='[Dimension].[City]'"
                                    },
                                    "dataset": {
                                        "referenceName": "ETLCutoff",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "CreateLineage-CityDimensions",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "GetLastETLCutoff-City",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[CreateLineage]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetLastETLCutoff-City').output.firstRow.SystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        },
                                        "TableName": {
                                            "value": "[concat(variables('leftBracket'), 'Dimension].[City]')]",
                                            "type": "String"
                                        },
                                        "DataLoadStartTime": {
                                            "value": {
                                                "value": "@pipeline().parameters.CutoffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "GetCurrentETLCutOff-City",
                                "type": "Lookup",
                                "dependsOn": [
                                    {
                                        "activity": "CreateLineage-CityDimensions",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT MAX(DataLoadStartTime) as LatestSystemCutOffTime From Integration.Lineage where TableName ='[Dimension].[City]' and DataLoadEndTime is null"
                                    },
                                    "dataset": {
                                        "referenceName": "Lineage",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "Copy-City",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutOff-City",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetCityUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-City').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-City').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "CityChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "CityChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MigrateStagedCityData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "Merge-Location",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateStagedCityData]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetCurrentETLCutOff-City').output.firstRow. LatestSystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "Copy-CityLocation",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutOff-City",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetCityGeographyUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-City').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-City').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "CityLocationChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "CityLocationChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "Merge-Location",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "Copy-City",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    },
                                    {
                                        "activity": "Copy-CityLocation",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MergeLocation]')]"
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            }
                        ],
                        "parameters": {
                            "CutoffTime": {
                                "type": "String"
                            }
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/datasets/ETLCutoff')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]",
                        "[concat(variables('factoryId'), '/datasets/Lineage')]",
                        "[concat(variables('factoryId'), '/datasets/CityChanges')]",
                        "[concat(variables('factoryId'), '/datasets/CityChangesDW')]",
                        "[concat(variables('factoryId'), '/datasets/CityLocationChanges')]",
                        "[concat(variables('factoryId'), '/datasets/CityLocationChangesDW')]",
                        "[concat(variables('factoryId'), '/linkedServices/blobLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CustomerPipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "GetLastETLCutoff-Customers",
                                "type": "Lookup",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT SystemCutOffTime \nFROM Integration.ETLCutoff\nWhere TableName ='[Dimension].[Customer]'"
                                    },
                                    "dataset": {
                                        "referenceName": "ETLCutoff",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "CreateLineage-CustomerDimensions",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "GetLastETLCutoff-Customers",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[CreateLineage]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetLastETLCutoff-Customers').output.firstRow.SystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        },
                                        "TableName": {
                                            "value": "[concat(variables('leftBracket'), 'Dimension].[Customer]')]",
                                            "type": "String"
                                        },
                                        "DataLoadStartTime": {
                                            "value": {
                                                "value": "@pipeline().parameters.CutoffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "GetCurrentETLCutoff-Customers",
                                "type": "Lookup",
                                "dependsOn": [
                                    {
                                        "activity": "CreateLineage-CustomerDimensions",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT MAX(DataLoadStartTime) as LatestSystemCutOffTime From Integration.Lineage where TableName ='[Dimension].[Customer]' and DataLoadEndTime is null"
                                    },
                                    "dataset": {
                                        "referenceName": "Lineage",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "Copy-Customers",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutoff-Customers",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetCustomerUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-Customers').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-Customers').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0,
                                    "translator": {
                                        "type": "TabularTranslator",
                                        "columnMappings": "WWI Customer ID: WWI Customer ID, Customer: Customer, Bill To Customer: Bill To Customer, Category: Category, Buying Group: Buying Group, Primary Contact: Primary Contact, Postal Code: Postal Code, Valid From: Valid From, Valid To: Valid To"
                                    }
                                },
                                "inputs": [
                                    {
                                        "referenceName": "CustomerChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "CustomerChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MigrateStagedCustomerData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "Copy-Customers",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateStagedCustomerData]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetCurrentETLCutOff-Customers').output.firstRow. LatestSystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            }
                        ],
                        "parameters": {
                            "CutoffTime": {
                                "type": "String"
                            }
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/datasets/ETLCutoff')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]",
                        "[concat(variables('factoryId'), '/datasets/Lineage')]",
                        "[concat(variables('factoryId'), '/datasets/CustomerChanges')]",
                        "[concat(variables('factoryId'), '/datasets/CustomerChangesDW')]",
                        "[concat(variables('factoryId'), '/linkedServices/blobLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/EmployeePipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "GetLastETLCutoff-Employees",
                                "type": "Lookup",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT SystemCutOffTime \nFROM Integration.ETLCutoff\nWhere TableName ='[Dimension].[Employee]'"
                                    },
                                    "dataset": {
                                        "referenceName": "ETLCutoff",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "CreateLineage-EmployeeDimensions",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "GetLastETLCutoff-Employees",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[CreateLineage]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetLastETLCutoff-Employees').output.firstRow.SystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        },
                                        "TableName": {
                                            "value": "[concat(variables('leftBracket'), 'Dimension].[Employee]')]",
                                            "type": "String"
                                        },
                                        "DataLoadStartTime": {
                                            "value": {
                                                "value": "@pipeline().parameters.CutoffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "GetCurrentETLCutoff-Employees",
                                "type": "Lookup",
                                "dependsOn": [
                                    {
                                        "activity": "CreateLineage-EmployeeDimensions",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT MAX(DataLoadStartTime) as LatestSystemCutOffTime From Integration.Lineage where TableName ='[Dimension].[Employee]' and DataLoadEndTime is null"
                                    },
                                    "dataset": {
                                        "referenceName": "Lineage",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "Copy-Employees",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutoff-Employees",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetEmployeeUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-Employees').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-Employees').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "EmployeeChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "EmployeeChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MigrateStagedEmployeeData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "MergePhotos",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateStagedEmployeeData]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetCurrentETLCutOff-Employees').output.firstRow. LatestSystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "CopyEmployeePhoto",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutoff-Employees",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetEmployeePhotoUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-Employees').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-Employees').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "EmployeePhotoChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "EmployeePhotoChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MergePhotos",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "CopyEmployeePhoto",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    },
                                    {
                                        "activity": "Copy-Employees",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MergeEmployeePhoto]')]"
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            }
                        ],
                        "parameters": {
                            "CutoffTime": {
                                "type": "String"
                            }
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/datasets/ETLCutoff')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]",
                        "[concat(variables('factoryId'), '/datasets/Lineage')]",
                        "[concat(variables('factoryId'), '/datasets/EmployeeChanges')]",
                        "[concat(variables('factoryId'), '/datasets/EmployeeChangesDW')]",
                        "[concat(variables('factoryId'), '/datasets/EmployeePhotoChanges')]",
                        "[concat(variables('factoryId'), '/datasets/EmployeePhotoChangesDW')]",
                        "[concat(variables('factoryId'), '/linkedServices/blobLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/StockItemsPipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "GetLastETLCutoff-StockItems",
                                "type": "Lookup",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT SystemCutOffTime \nFROM Integration.ETLCutoff\nWhere TableName ='[Dimension].[StockItem]'"
                                    },
                                    "dataset": {
                                        "referenceName": "ETLCutoff",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "CreateLineage-StockItemsDimensions",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "GetLastETLCutoff-StockItems",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[CreateLineage]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetLastETLCutoff-StockItems').output.firstRow.SystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        },
                                        "TableName": {
                                            "value": "[concat(variables('leftBracket'), 'Dimension].[StockItem]')]",
                                            "type": "String"
                                        },
                                        "DataLoadStartTime": {
                                            "value": {
                                                "value": "@pipeline().parameters.CutoffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "GetCurrentETLCutOff-StockItems",
                                "type": "Lookup",
                                "dependsOn": [
                                    {
                                        "activity": "CreateLineage-StockItemsDimensions",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlDWSource",
                                        "sqlReaderQuery": "SELECT MAX(DataLoadStartTime) as LatestSystemCutOffTime From Integration.Lineage where TableName ='[Dimension].[StockItem]' and DataLoadEndTime is null"
                                    },
                                    "dataset": {
                                        "referenceName": "Lineage",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "Copy-StockItems",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutOff-StockItems",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetStockItemUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-StockItems').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-StockItems').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "StockItemChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "StockItemChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MigrateStagedStockItemData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "MergePhoto",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateStagedStockItemData]')]",
                                    "storedProcedureParameters": {
                                        "SystemCutOffTime": {
                                            "value": {
                                                "value": "@activity('GetCurrentETLCutOff-StockItems').output.firstRow. LatestSystemCutOffTime",
                                                "type": "Expression"
                                            },
                                            "type": "DateTime"
                                        }
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "Copy-StockItemPhotos",
                                "type": "Copy",
                                "dependsOn": [
                                    {
                                        "activity": "GetCurrentETLCutOff-StockItems",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderStoredProcedureName": "[concat(variables('leftBracket'), 'Integration].[GetStockItemPhotoUpdates]')]",
                                        "storedProcedureParameters": {
                                            "LastCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetLastETLCutoff-StockItems').output.firstRow.SystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            },
                                            "NewCutoff": {
                                                "type": "DateTime",
                                                "value": {
                                                    "value": "@activity('GetCurrentETLCutOff-StockItems').output.firstRow. LatestSystemCutOffTime",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    "sink": {
                                        "type": "SqlDWSink",
                                        "allowPolyBase": true,
                                        "writeBatchSize": 10000,
                                        "polyBaseSettings": {
                                            "rejectValue": 0,
                                            "rejectType": "value",
                                            "useTypeDefault": true
                                        }
                                    },
                                    "enableStaging": true,
                                    "stagingSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "blobLinkedService",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "adf-copy"
                                    },
                                    "cloudDataMovementUnits": 0
                                },
                                "inputs": [
                                    {
                                        "referenceName": "StockItemPhotoChanges",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ],
                                "outputs": [
                                    {
                                        "referenceName": "StockItemPhotoChangesDW",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                ]
                            },
                            {
                                "name": "MergePhoto",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "Copy-StockItems",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    },
                                    {
                                        "activity": "Copy-StockItemPhotos",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MergeStockItemPhoto]')]"
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            }
                        ],
                        "parameters": {
                            "CutoffTime": {
                                "type": "String"
                            }
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/datasets/ETLCutoff')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]",
                        "[concat(variables('factoryId'), '/datasets/Lineage')]",
                        "[concat(variables('factoryId'), '/datasets/StockItemChanges')]",
                        "[concat(variables('factoryId'), '/datasets/StockItemChangesDW')]",
                        "[concat(variables('factoryId'), '/datasets/StockItemPhotoChanges')]",
                        "[concat(variables('factoryId'), '/datasets/StockItemPhotoChangesDW')]",
                        "[concat(variables('factoryId'), '/linkedServices/blobLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/MasterPipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "SalesPipeline",
                                "type": "ExecutePipeline",
                                "dependsOn": [
                                    {
                                        "activity": "GetCutOff",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "typeProperties": {
                                    "pipeline": {
                                        "referenceName": "SalesPipeline",
                                        "type": "PipelineReference"
                                    },
                                    "waitOnCompletion": true,
                                    "parameters": {
                                        "CutoffTime": {
                                            "value": "@activity('GetCutOff').output.firstRow.CurrentCutoff",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            {
                                "name": "GetCutOff",
                                "type": "Lookup",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "source": {
                                        "type": "SqlSource",
                                        "sqlReaderQuery": "SELECT GETUTCDATE() as CurrentCutoff"
                                    },
                                    "dataset": {
                                        "referenceName": "CurrentCutoff",
                                        "type": "DatasetReference",
                                        "parameters": {}
                                    }
                                }
                            },
                            {
                                "name": "CityPipeline",
                                "type": "ExecutePipeline",
                                "dependsOn": [
                                    {
                                        "activity": "GetCutOff",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "typeProperties": {
                                    "pipeline": {
                                        "referenceName": "CityPipeline",
                                        "type": "PipelineReference"
                                    },
                                    "waitOnCompletion": true,
                                    "parameters": {
                                        "CutoffTime": {
                                            "value": "@activity('GetCutOff').output.firstRow.CurrentCutoff",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            {
                                "name": "CustomerPipeline",
                                "type": "ExecutePipeline",
                                "dependsOn": [
                                    {
                                        "activity": "GetCutOff",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "typeProperties": {
                                    "pipeline": {
                                        "referenceName": "CustomerPipeline",
                                        "type": "PipelineReference"
                                    },
                                    "waitOnCompletion": true,
                                    "parameters": {
                                        "CutoffTime": {
                                            "value": "@activity('GetCutOff').output.firstRow.CurrentCutoff",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            {
                                "name": "EmployeePipeline",
                                "type": "ExecutePipeline",
                                "dependsOn": [
                                    {
                                        "activity": "GetCutOff",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "typeProperties": {
                                    "pipeline": {
                                        "referenceName": "EmployeePipeline",
                                        "type": "PipelineReference"
                                    },
                                    "waitOnCompletion": true,
                                    "parameters": {
                                        "CutoffTime": {
                                            "value": "@activity('GetCutOff').output.firstRow.CurrentCutoff",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            {
                                "name": "StockItemsPipeline",
                                "type": "ExecutePipeline",
                                "dependsOn": [
                                    {
                                        "activity": "GetCutOff",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "typeProperties": {
                                    "pipeline": {
                                        "referenceName": "StockItemsPipeline",
                                        "type": "PipelineReference"
                                    },
                                    "waitOnCompletion": true,
                                    "parameters": {
                                        "CutoffTime": {
                                            "value": "@activity('GetCutOff').output.firstRow.CurrentCutoff",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        ]
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/pipelines/SalesPipeline')]",
                        "[concat(variables('factoryId'), '/datasets/CurrentCutoff')]",
                        "[concat(variables('factoryId'), '/pipelines/CityPipeline')]",
                        "[concat(variables('factoryId'), '/pipelines/CustomerPipeline')]",
                        "[concat(variables('factoryId'), '/pipelines/EmployeePipeline')]",
                        "[concat(variables('factoryId'), '/pipelines/StockItemsPipeline')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CityPopulationPipeline')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "activities": [
                            {
                                "name": "MigrateExternalCityPopulationData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateExternalCityPopulationData]')]"
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            },
                            {
                                "name": "MigrateStagedPopulationData",
                                "type": "SqlServerStoredProcedure",
                                "dependsOn": [
                                    {
                                        "activity": "MigrateExternalCityPopulationData",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false
                                },
                                "typeProperties": {
                                    "storedProcedureName": "[concat(variables('leftBracket'), 'integration].[MigrateStagedPopulationData]')]"
                                },
                                "linkedServiceName": {
                                    "referenceName": "sinkDWLinkedService",
                                    "type": "LinkedServiceReference"
                                }
                            }
                        ]
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CityChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI City ID",
                                "type": "Int32"
                            },
                            {
                                "name": "City",
                                "type": "String"
                            },
                            {
                                "name": "State Province",
                                "type": "String"
                            },
                            {
                                "name": "Country",
                                "type": "String"
                            },
                            {
                                "name": "Continent",
                                "type": "String"
                            },
                            {
                                "name": "Sales Territory",
                                "type": "String"
                            },
                            {
                                "name": "Region",
                                "type": "String"
                            },
                            {
                                "name": "Subregion",
                                "type": "String"
                            },
                            {
                                "name": "Latest Recorded Population",
                                "type": "Int64"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            },
                            {
                                "name": "Location",
                                "type": "Byte[]"
                            },
                            {
                                "name": "StateProvinceCode",
                                "type": "String"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[City_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CityChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "WWI City ID",
                                "type": "Int64"
                            },
                            {
                                "name": "City",
                                "type": "String"
                            },
                            {
                                "name": "State Province",
                                "type": "String"
                            },
                            {
                                "name": "Country",
                                "type": "String"
                            },
                            {
                                "name": "Continent",
                                "type": "String"
                            },
                            {
                                "name": "Sales Territory",
                                "type": "String"
                            },
                            {
                                "name": "Region",
                                "type": "String"
                            },
                            {
                                "name": "Subregion",
                                "type": "String"
                            },
                            {
                                "name": "Latest Recorded Population",
                                "type": "Int64"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            },
                            {
                                "name": "Location",
                                "type": "Byte[]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'StateProvinceCode]')]",
                                "type": "String"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyCityChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CityLocationChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI City ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Block ID]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Location]')]",
                                "type": "Byte[]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid From]')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid To]')]",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyCityLocationChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CityLocationChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI City ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Block ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Location",
                                "type": "Byte[]"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[CityLocation_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/SalesChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "[concat(variables('leftBracket'), 'Invoice Date Key],')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Delivery Date Key]')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Invoice ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Description]')]",
                                "type": "String"
                            },
                            {
                                "name": "Package",
                                "type": "String"
                            },
                            {
                                "name": "Quantity",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Unit Price]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Tax Rate]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Total Excluding Tax]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Tax Amount]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "Profit",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Total Including Tax]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Total Dry Items]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Total Chiller Items]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI City ID]')]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Customer ID]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Bill To Customer ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Stock Item ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Saleperson ID]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Last Modified When]')]",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummySalesChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/SalesChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "Invoice Date Key",
                                "type": "DateTime"
                            },
                            {
                                "name": "Delivery Date Key",
                                "type": "DateTime"
                            },
                            {
                                "name": "WWI Invoice ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Description",
                                "type": "String"
                            },
                            {
                                "name": "Package",
                                "type": "String"
                            },
                            {
                                "name": "Quantity",
                                "type": "Int32"
                            },
                            {
                                "name": "Unit Price",
                                "type": "Decimal"
                            },
                            {
                                "name": "Tax Rate",
                                "type": "Decimal"
                            },
                            {
                                "name": "Total Excluding Tax",
                                "type": "Decimal"
                            },
                            {
                                "name": "Tax Amount",
                                "type": "Decimal"
                            },
                            {
                                "name": "Profit",
                                "type": "Decimal"
                            },
                            {
                                "name": "Total Including Tax",
                                "type": "Decimal"
                            },
                            {
                                "name": "Total Dry Items",
                                "type": "Int32"
                            },
                            {
                                "name": "Total Chiller Items",
                                "type": "Int32"
                            },
                            {
                                "name": "WWI City ID",
                                "type": "Int32"
                            },
                            {
                                "name": "WWI Customer ID",
                                "type": "Int32"
                            },
                            {
                                "name": "WWI Bill To Customer ID",
                                "type": "Int32"
                            },
                            {
                                "name": "WWI Stock Item ID",
                                "type": "Int32"
                            },
                            {
                                "name": "WWI Saleperson ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Last Modified When",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[Sale_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CustomerChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "WWI Customer ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Customer",
                                "type": "String"
                            },
                            {
                                "name": "Bill To Customer",
                                "type": "String"
                            },
                            {
                                "name": "Category",
                                "type": "String"
                            },
                            {
                                "name": "Buying Group",
                                "type": "String"
                            },
                            {
                                "name": "Primary Contact",
                                "type": "String"
                            },
                            {
                                "name": "Postal Code",
                                "type": "String"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyCustomerChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CustomerChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI Customer ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Customer",
                                "type": "String"
                            },
                            {
                                "name": "Bill To Customer",
                                "type": "String"
                            },
                            {
                                "name": "Category",
                                "type": "String"
                            },
                            {
                                "name": "Buying Group",
                                "type": "String"
                            },
                            {
                                "name": "Primary Contact",
                                "type": "String"
                            },
                            {
                                "name": "Postal Code",
                                "type": "String"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[Customer_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/EmployeeChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Employee ID]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "Employee",
                                "type": "String"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Preferred Name]')]",
                                "type": "String"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Is Salesperson]')]",
                                "type": "Boolean"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid From]')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid To]')]",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyEmployeeChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/EmployeeChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI Employee ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Employee",
                                "type": "String"
                            },
                            {
                                "name": "Preferred Name",
                                "type": "String"
                            },
                            {
                                "name": "Is Salesperson",
                                "type": "Boolean"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[Employee_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/StockItemChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Stock Item ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Stock Item]')]",
                                "type": "String"
                            },
                            {
                                "name": "Color",
                                "type": "String"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Selling Package]')]",
                                "type": "String"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Buying Package]')]",
                                "type": "String"
                            },
                            {
                                "name": "Brand",
                                "type": "String"
                            },
                            {
                                "name": "Size",
                                "type": "String"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Lead Time Days]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Quantity Per Outer]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Is Chiller Stock]')]",
                                "type": "Boolean"
                            },
                            {
                                "name": "Barcode",
                                "type": "String"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Tax Rate]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Unit Price]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Recommended Retail Price]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Typical Weight Per Unit]')]",
                                "type": "Decimal"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid From]')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid To]')]",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyStockItemChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/StockItemChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI Stock Item ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Stock Item",
                                "type": "String"
                            },
                            {
                                "name": "Color",
                                "type": "String"
                            },
                            {
                                "name": "Selling Package",
                                "type": "String"
                            },
                            {
                                "name": "Buying Package",
                                "type": "String"
                            },
                            {
                                "name": "Brand",
                                "type": "String"
                            },
                            {
                                "name": "Size",
                                "type": "String"
                            },
                            {
                                "name": "Lead Time Days",
                                "type": "Int32"
                            },
                            {
                                "name": "Quantity Per Outer",
                                "type": "Int32"
                            },
                            {
                                "name": "Is Chiller Stock",
                                "type": "Boolean"
                            },
                            {
                                "name": "Barcode",
                                "type": "String"
                            },
                            {
                                "name": "Tax Rate",
                                "type": "Decimal"
                            },
                            {
                                "name": "Unit Price",
                                "type": "Decimal"
                            },
                            {
                                "name": "Recommended Retail Price",
                                "type": "Decimal"
                            },
                            {
                                "name": "Typical Weight Per Unit",
                                "type": "Decimal"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[StockItem_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/StockItemPhotoChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Stock Item ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Block ID]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid From]')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid To]')]",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyStockItemPhotoChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/StockItemPhotoChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI Stock Item ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Block ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[StockItemPhoto_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/EmployeePhotoChanges')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "structure": [
                            {
                                "name": "[concat(variables('leftBracket'), 'WWI Employee ID]')]",
                                "type": "Int64"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Block ID]')]",
                                "type": "Int32"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid From]')]",
                                "type": "DateTime"
                            },
                            {
                                "name": "[concat(variables('leftBracket'), 'Valid To]')]",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "DummyEmployeePhotoChanges"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/EmployeePhotoChangesDW')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sinkDWLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "AzureSqlDWTable",
                        "structure": [
                            {
                                "name": "WWI Employee ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Block ID",
                                "type": "Int32"
                            },
                            {
                                "name": "Photo",
                                "type": "Byte[]"
                            },
                            {
                                "name": "Valid From",
                                "type": "DateTime"
                            },
                            {
                                "name": "Valid To",
                                "type": "DateTime"
                            }
                        ],
                        "typeProperties": {
                            "tableName": "[concat(variables('leftBracket'), 'integration].[EmployeePhoto_Staging]')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sinkDWLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/CurrentCutoff')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "sourceDBLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "type": "SqlServerTable",
                        "typeProperties": {
                            "tableName": "DummyCurrentCutoff"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/sourceDBLinkedService')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/sourceIntegrationRuntime')]",
                    "type": "Microsoft.DataFactory/factories/integrationRuntimes",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "type": "SelfHosted",
                        "description": "selfhosted run time",
                        "typeProperties": {}
                    },
                    "dependsOn": [ "[parameters('factoryName')]"]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/sourceDBLinkedService')]",
                    "type": "Microsoft.DataFactory/factories/linkedServices",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "type": "SqlServer",
                        "typeProperties": {
                            "connectionString": {
                                "type": "SecureString",
                                "value": "[parameters('sourceDBConnectionString')]"
                            }
                        },
                        "connectVia": {
                            "referenceName": "sourceIntegrationRuntime",
                            "type": "IntegrationRuntimeReference"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/integrationRuntimes/sourceIntegrationRuntime')]"
                    ]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/sinkDWLinkedService')]",
                    "type": "Microsoft.DataFactory/factories/linkedServices",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "type": "AzureSqlDW",
                        "typeProperties": {
                            "connectionString": {
                                "type": "SecureString",
                                "value": "[parameters('sinkDWConnectionString')]"
                            }
                        }
                    },
                    "dependsOn": ["[parameters('factoryName')]"]
                },
                {
                    "name": "[concat(parameters('factoryName'), '/blobLinkedService')]",
                    "type": "Microsoft.DataFactory/factories/linkedServices",
                    "apiVersion": "2017-09-01-preview",
                    "properties": {
                        "type": "AzureStorage",
                        "typeProperties": {
                            "connectionString": {
                                "type": "SecureString",
                                "value": "[parameters('blobConnectionString')]"
                            }
                        },
                        "connectVia": {
                            "referenceName": "sourceIntegrationRuntime",
                            "type": "IntegrationRuntimeReference"
                        }
                    },
                    "dependsOn": [
                        "[parameters('factoryName')]",
                        "[concat(variables('factoryId'), '/integrationRuntimes/sourceIntegrationRuntime')]"
                    ]
                }
            ]
        }
    ]
}
            